* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
    Pilko teksto spalva
    #666;

    Bloko viršutinio border ir h1 spalva:
    #0974b3

*/

body {
  font-family: 'News Cycle', sans-serif;
  line-height: 1.1;
  font-size: 16px;
  padding: 20px;
  background: rgb(240, 240, 240);
}
h1 {
  color: #0974b3;
}
.item {
  border-top: 5px solid #0974b3;
  background: white;
  overflow: hidden;
  margin-right: 2%;
  margin-bottom: 15px;
  padding: 30px 20px;
  float: left;
}
.item-mazas {
  width: 48%;
}
img {
  width: 150px;
  height: auto;
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
}
.tekstas {
  color: #666;
  display: inline;
}
.metai {
  margin-bottom: 15px;
}
