* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #404345;
  font-family: Arial;
}

nav {
  position: relative;
  top: 30%;
  width: 120px;
  margin: auto;
}

.container {
  height: 100vh;
  position: relative;
}
.menu-item {
  font-size: 25px;
  color: white;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
}
.menu-item:hover {
  cursor: pointer;
}

.menu-item:hover::before {
  animation: before-animacija 0.2s infinite linear;
  opacity: 1;
}
.menu-item::before {
  content: '';
  position: absolute;
  height: 100%;
  background: #9abbe6;
  z-index: -1;
  opacity: 0;
}
.menu-item:hover::after {
  opacity: 1;
  transform: translateX(-100%);
  animation: after-animacija 0.5s infinite linear;
}

.menu-item::after {
  content: '';
  opacity: 0;
  height: 2px;
  bottom: 0;
  background: #d880db;
  position: absolute;
}
@keyframes after-animacija {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes before-animacija {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
